@model Park

<!-- Page Content -->
<div class="container">
  
    <!-- Portfolio Item Row -->
    <div class="row">
      <div class="col-md-8">
        <img class="img-fluid" src="@Model.Image" alt="Park picture">
      </div>
  
      <div class="col-md-4">
        <h3 class="my-3">@Model.Title</h3>
        <p>@Model.Description</p>
        <h3 class="my-3">Location</h3>
        <ul>
          <li>@Model.Address.Street</li>
          <li>@Model.Address.City</li>
          <li>@Model.Address.Country</li>
        </ul>
      </div>
  
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->


