@using StreetWorkoutWebApp.ViewModels
@model UserDetailVM

<div class="container">

    <h1 class="my-4">User Profile</h1>
    <h2>@Model.UserName</h2>

    <div class="row">
        <div class="col-md-6">
           @if(string.IsNullOrEmpty(Model.ProfileImageUrl))
              {
                <img class ="card-img-top" src="https://img.freepik.com/premium-vector/default-image-icon-vector-missing-picture-page-website-design-mobile-app-no-photo-available_87543-11093.jpg?w=826" width="100%" height="225" alt="Card image cap"> 
              }else
              {
                <img class="img-fluid" src="@Model.ProfileImageUrl" alt="User profile picture">         
              }
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Contact</h3>
            <p>@Model.EmailAddress</p>
            <h3 class="my-3">Location</h3>
            <ul>
                <li>@Model.City</li>
                <li>@Model.Country</li>
            </ul>
        </div>
    </div>
